@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic);
/* line 1, ../sass/components/_base.scss */
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #4183d7;
  padding-top: 10%;
}
@media (max-width: 768px) {
  /* line 1, ../sass/components/_base.scss */
  body {
    padding-top: 30%;
  }
}

/* line 1, ../sass/components/_text.scss */
.text-title {
  font-size: 40px;
  font-weight: 600;
  color: #f2f2f2;
  text-shadow: 2px 2px 3px rgba(39, 44, 50, 0.58);
}

/* line 8, ../sass/components/_text.scss */
.text-long {
  font-size: 22px;
  color: #cdd8e4;
}

/* line 13, ../sass/components/_text.scss */
.text-border {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 21, ../sass/components/_text.scss */
.text-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #fde3a7;
}

/* line 27, ../sass/components/_text.scss */
.text-list {
  font-size: 22px;
  font-weight: 500;
  color: #e4f1fe;
}
/* line 28, ../sass/components/_text.scss */
.text-list:before {
  content: '>';
  font-weight: 700;
  padding-right: 4px;
  color: #86e2d5;
}

/* line 39, ../sass/components/_text.scss */
.text-small {
  font-size: 14px;
  padding-left: 5px;
  color: #cdd8e4;
}

/* line 1, ../sass/components/_button.scss */
.button {
  font-size: 18px;
  color: #4183d7;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(39, 44, 50, 0.58);
}
/* line 6, ../sass/components/_button.scss */
.button:hover {
  color: #3468ac;
}
/* line 9, ../sass/components/_button.scss */
.button:focus {
  outline: none;
}

/* line 14, ../sass/components/_button.scss */
.button-main {
  font-size: 24px;
}
