@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic);
/* line 1, ../sass/components/_base.scss */
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background: #4183d7;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #4183d7, #86e2d5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #4183d7, #86e2d5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #4183d7, #86e2d5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #4183d7, #86e2d5);
  /* Standard syntax */
  min-height: 1000px;
  padding-top: 10%;
}
@media (max-width: 768px) {
  /* line 1, ../sass/components/_base.scss */
  body {
    padding-top: 30%;
  }
}

/* line 15, ../sass/components/_base.scss */
.list-divider {
  border-bottom: 1px solid #fde3a7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* line 21, ../sass/components/_base.scss */
.pane-result {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 3px rgba(39, 44, 50, 0.58);
}
/* line 26, ../sass/components/_base.scss */
.pane-result .text-label, .pane-result .text-item {
  color: #56616d;
}

/* line 31, ../sass/components/_base.scss */
.opac-visible {
  opacity: .4;
}

/* line 2, ../sass/components/_urine.scss */
.urine, .urine-inner {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-top: 5px;
  margin-bottom: 3px;
  box-shadow: inset 0 0 10px #404952;
  opacity: .9;
}

/* line 13, ../sass/components/_urine.scss */
.urine-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

/* line 19, ../sass/components/_urine.scss */
.urine-inner {
  box-shadow: 2px 2px 2px rgba(50, 100, 165, 0.335);
}

/* line 24, ../sass/components/_urine.scss */
.urine-text, .urine-desc {
  transform: translateY(-22px);
}

/* line 28, ../sass/components/_urine.scss */
.urine-desc {
  font-size: 20px;
  color: #7aa8e3;
  font-weight: 400;
}

/* line 35, ../sass/components/_urine.scss */
.urine-choosen {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  max-width: 200px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(228, 241, 254, 0.1);
  padding: 4px;
}

/* line 46, ../sass/components/_urine.scss */
.urine-desc-light {
  font-size: 20px;
  color: white;
}

/* line 51, ../sass/components/_urine.scss */
.urine-panel {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

/* line 58, ../sass/components/_urine.scss */
.urine-image {
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../sass/components/_urine.scss */
.text-description {
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 500;
}

/* line 70, ../sass/components/_urine.scss */
.ur-transparent {
  background-color: #eeeee;
}

/* line 74, ../sass/components/_urine.scss */
.ur-pale {
  background-color: #f4f3db;
}

/* line 77, ../sass/components/_urine.scss */
.ur-transparent-yellow {
  background-color: #f2ebbd;
}

/* line 81, ../sass/components/_urine.scss */
.ur-dark-yellow {
  background-color: #f1f19d;
}

/* line 84, ../sass/components/_urine.scss */
.ur-amber {
  background-color: #e5c687;
}

/* line 87, ../sass/components/_urine.scss */
.ur-syrup {
  background-color: #b2a380;
}

/* line 90, ../sass/components/_urine.scss */
.ur-orange {
  background-color: #f2a65a;
}

/* line 1, ../sass/components/_text.scss */
.text-title {
  font-size: 40px;
  font-weight: 600;
  color: #f2f2f2;
}

/* line 7, ../sass/components/_text.scss */
.text-long {
  font-size: 22px;
  color: #e4f1fe;
  font-weight: 600;
}

/* line 13, ../sass/components/_text.scss */
.text-border {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 21, ../sass/components/_text.scss */
.text-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #fde3a7;
}

/* line 27, ../sass/components/_text.scss */
.text-list, .text-label, .text-item {
  font-size: 22px;
  font-weight: 500;
  color: #e4f1fe;
}
/* line 28, ../sass/components/_text.scss */
.text-list:before, .text-label:before, .text-item:before {
  content: '>';
  font-weight: 700;
  padding-right: 4px;
  color: #86e2d5;
}

/* line 39, ../sass/components/_text.scss */
.text-small {
  font-size: 16px;
  padding-left: 5px;
  color: #d8e4f1;
}

/* line 45, ../sass/components/_text.scss */
.text-input {
  font-size: 18px;
  margin-top: 15px;
  height: 42px;
  width: 250px;
  transform: translateY(2px);
}

/* line 54, ../sass/components/_text.scss */
.text-wide {
  min-width: 150px;
}

/* line 58, ../sass/components/_text.scss */
.text-label {
  font-weight: 600;
}

/* line 65, ../sass/components/_text.scss */
.text-item:before {
  content: none;
}

/* line 71, ../sass/components/_text.scss */
.text-label-addon:after {
  content: ':';
  font-weight: 700;
  padding-right: 4px;
  padding-left: 4px;
  float: right;
  color: #86e2d5;
}

/* line 81, ../sass/components/_text.scss */
.text-error {
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fbdad6;
  color: #f37e72;
  font-size: 18px;
  transform: translateY(10px);
}

/* line 91, ../sass/components/_text.scss */
.text-centered {
  transform: translateX(-40px);
}

/* line 95, ../sass/components/_text.scss */
.text-colorized {
  color: #fde3a7;
}

/* line 1, ../sass/components/_button.scss */
.button, .text-input {
  font-size: 18px;
  color: rgba(228, 241, 254, 0.6);
  background-color: rgba(228, 241, 254, 0);
  border: 2px solid rgba(228, 241, 254, 0.6);
  transition: .4s;
}
/* line 8, ../sass/components/_button.scss */
.button:hover, .text-input:hover, .button:focus, .text-input:focus {
  outline: none;
  border: 2px solid white;
  color: rgba(65, 131, 215, 0.8);
  background-color: white;
}

/* line 16, ../sass/components/_button.scss */
.button-main {
  font-size: 24px;
}

/* line 20, ../sass/components/_button.scss */
.button-select {
  border-radius: 3px;
  margin-top: 20px;
  background-color: white;
  color: rgba(65, 131, 215, 0.8);
  border: 2px solid rgba(65, 131, 215, 0);
  min-width: 100px;
  transition: .4s;
}
/* line 28, ../sass/components/_button.scss */
.button-select:hover {
  background-color: #86e2d5;
  color: #50877f;
  font-weight: 700;
  border: 2px solid #86e2d5;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

/* line 37, ../sass/components/_button.scss */
.button-invert {
  min-width: 180px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  color: white;
}
/* line 42, ../sass/components/_button.scss */
.button-invert:hover {
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(228, 241, 254, 0.1);
  border-radius: 8px;
  color: white;
  box-shadow: none;
}

/* line 52, ../sass/components/_button.scss */
.button-back, .button-center {
  border: 2px solid rgba(65, 131, 215, 0);
  padding-left: 0px;
  font-size: 24px;
  transform: translateY(-5px);
}
/* line 57, ../sass/components/_button.scss */
.button-back:before, .button-center:before {
  content: '<';
  font-size: 24px;
  padding-right: 5px;
  transform: translateY(2px);
}
/* line 63, ../sass/components/_button.scss */
.button-back:hover, .button-center:hover, .button-back:focus, .button-center:focus {
  background: none;
  color: white;
  border: 2px solid rgba(65, 131, 215, 0);
}

/* line 70, ../sass/components/_button.scss */
.button-center {
  margin-left: auto;
  margin-right: auto;
}
/* line 74, ../sass/components/_button.scss */
.button-center:before {
  content: '';
}
