.text-title{
  font-size: 40px;
  font-weight: 600;
  color: shade($secondary, 5%);
}

.text-long{
  font-size: 22px;
  color: shade($blue, 0%);
  font-weight: 600;
}

.text-border{
  margin-top: 30px;
  border-top: 1px solid rgba($secondary, .4);
  border-bottom: 1px solid rgba($secondary, .4);
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-subtitle{
  font-size: 24px;
  font-weight: 700;
  color: $orange;
}

.text-list{
  &:before{
    content: '>';
    font-weight: 700;
    padding-right: 4px;
    color: $green;
  }
  font-size: 22px;
  font-weight: 500;
  color: $blue;
}

.text-small{
  font-size: 16px;
  padding-left: 5px;
  color: shade($blue, 5%);
}

.text-input{
  @extend .button;
  font-size: 18px;
  margin-top: 15px;
  height: 42px;
  width: 250px;
  transform: translateY(2px);
}

.text-wide{
  min-width: 150px;
}

.text-label{
  @extend .text-list;
  font-weight: 600;
}

.text-item{
  @extend .text-list;
  &:before{
    content: ':';
  }
}

.text-error{
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: tint($red, 80%);
  color: tint($red, 30%);
  font-size: 18px;
  transform: translateY(10px);
}

.text-centered{
  transform: translateX(-40px);
}
